$hcl-blue: #13365c;
$hcl-gold: #f8d932;

@media only screen and (max-width: 600px) {
    .hcl-container {
        width: 100%;
    }
}

.hcl-background {
    background-color: #fff;
}

.hcl-container {
    max-width: 925px;
    margin: 0 auto;
    padding: 5px;
}
.fixture-row {
    border: 1px solid #000;
}
.hcl-ump {
    // font-family: Arial, Helvetica, sans-serif;
    // font-size: 16px;
    text-align: center;
    // border: 1px solid #000;
    width: 100%;
    margin: 0 auto;
        display: block;
        float: left;

    &-date {
        background-color: $hcl-blue;
        color: $hcl-gold;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
        padding: 10px;
    }

    &-division {
        font-weight: bold;
        margin-top: 10px;
        background-color: #000000;  
        color: #fff;
    }


    &-heading {
        font-weight: bold;
        padding: 5px;
    }

}